<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Agent IA</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/modal.css">
</head>

<body>

    <header>
        <div class="header-left">
            <a href="/"><img src="/static/images/Logo.png" alt="Logo Travel Agent" class="logo"></a>
            <nav>
                <a href="#">Explorer</a>
                <a href="#">Comment ça marche ?</a>
            </nav>
        </div>

        <div class="header-right">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path
                    d="M320 576C461.4 576 576 461.4 576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z" />
            </svg>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                <path
                    d="M320 64C178.6 64 64 178.6 64 320C64 461.4 178.6 576 320 576C388.8 576 451.3 548.8 497.3 504.6C504.6 497.6 506.7 486.7 502.6 477.5C498.5 468.3 488.9 462.6 478.8 463.4C473.9 463.8 469 464 464 464C362.4 464 280 381.6 280 280C280 207.9 321.5 145.4 382.1 115.2C391.2 110.7 396.4 100.9 395.2 90.8C394 80.7 386.6 72.5 376.7 70.3C358.4 66.2 339.4 64 320 64z" />
            </svg>
        </div>
    </header>

    <div id="loading-overlay">
        <div class="plane-container">
            <div class="plane"></div>
        </div>
        <h2>L'IA prépare votre itinéraire !</h2>
        <!-- Console de logs avec barre de progression -->
        <div class="streaming-logs" id="logs">
            <div class="progress-current-step" id="currentStep">En attente...</div>
            <div class="progress-vertical-track">
                <div class="progress-vertical-fill" id="progressFill"></div>
            </div>
        </div>
    </div>

    <main>

        <div class="hero-text">
            <h1>Ne cherchez plus. Laissez vous guider.</h1>
            <h2>Votre voyage sur mesure grace à notre IA</h2>
            <div class="blue-bar"></div>
        </div>

        <div class="main-card">

            <div class="card-image-container">
                <img src="/static/images/Londres.png" alt="Big Ben Londres">
            </div>

            <div class="card-content">
                <h3>Commencez <br> votre aventure !</h3>
                <button id="openModal" class="btn-primary">Réserver maintenant</button>
            </div>
        </div>

    </main>



    <div id="modalOverlay" class="overlay">
        <div class="modal">
            <div class="modal-header">
                <h2>Renseignez selon vos envies</h2>
                <button id="closeModal" class="close-btn">&times;</button>
            </div>

            <form id="travelForm" action="/search" method="post">
                <div class="form-grid">
                    <div class="input-group">
                        <label>Ville de Départ</label>
                        <input type="text" name="origin" id="origin" placeholder="Ex: Paris" required>
                    </div>
                    <div class="input-group">
                        <label>Ville d'Arrivée</label>
                        <input type="text" name="destination" id="destination" placeholder="Ex: Tokyo">
                    </div>
                    <div class="input-group">
                        <label>Date de Départ</label>
                        <input type="date" name="departure_date" id="departure_date">
                    </div>
                    <div class="input-group">
                        <label>Date de Retour</label>
                        <input type="date" name="return_date" id="return_date">
                    </div>

                    <div class="input-group last-input">
                        <label>Vos besoins et contraintes</label>
                        <input type="text" name="preferences" id="preferences">
                    </div>
                </div>

                <div class="toggle-custom-options" id="toggleOptions">
                    <span class="arrow">▶</span> Options avancées
                </div>

                <div id="advanced-options">
                    <div class="form-grid">
                        <div class="input-group">
                            <label>Budget Avion Max (€)</label>
                            <input type="number" name="budget_max" id="budget_max" placeholder="Ex: 800">
                        </div>
                        <div class="input-group">
                            <label>Compagnie préférée</label>
                            <input type="text" name="airline" id="airline" placeholder="Ex: Air France">
                        </div>
                    </div>

                    <div class="input-group">
                        <label>Prix Hotel Max (par nuit en €)</label>
                        <input type="number" name="hotel_budget_max" id="hotel_budget_max" placeholder="Ex: 150">
                    </div>

                    <div class="input-group">
                        <label>Services</label>
                        <input type="text" placeholder="WiFi, Spa, Piscine...">
                    </div>

                    <div class="input-group">
                        <label>Activités</label>
                        <input type="text" placeholder="Musées, Randonnées, Plages...">
                    </div>
                </div>

                <button type="submit" class="btn-submit">Lancer la recherche</button>
            </form>

            <div id="resultContainer"
                style="display:none; margin-top:15px; padding:15px; background: #fff; border-radius: 8px;"></div>
        </div>
    </div>

    <script src="/static/scripts.js"></script>
</body>

</html>