:root {
    --primary: #38B6FF;
    --secondary: #2c5f82;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border_box;
    font-family: 'Arial', sans-serif;

}

body {
    background-color: var(--white);
}

/* --- HEADER --- */
header {
    background-color: var(--primary);

    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: var(--white);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;

}

.logo {
    height: 50px;

    width: auto;
}

nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: var(--white);
    background-color: var(--secondary);
    padding: 5px;
    border-radius: 5px;
    transition: color 0.3s;
}

.header-right {
    display: flex;
    gap: 15px;
}

.icon {
    height: 25px;
    cursor: pointer;
    fill: var(--white);
    transition: fill 0.3s;
}

.icon:hover {
    fill: var(--secondary);
}

/* --- SECTION TITRES --- */
.hero-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h1 {
    color: var(--primary);

    font-size: 2.5rem;
    font-weight: bold;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 5px;
}

.blue-bar {
    width: 500px;
    height: 10px;
    background-color: var(--primary);
    margin: 10px auto;
    border-radius: 5px;
    opacity: 0.8;
}

/* --- CARTE PRINCIPALE --- */
.main-card {
    background-color: var(--secondary);
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}


.card-image-container {
    width: 55%;

}

.card-image-container img {
    width: 100%;
    border-radius: 12px;

    display: block;
}


.card-content {
    width: 40%;
    text-align: center;
    color: var(--white);
}

.card-content h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 30px;

    text-underline-offset: 8px;

}


.btn-primary {
    background-color: var(--primary);

    color: var(--white);
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 30px;

    cursor: pointer;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: var(--white);
    color: var(--secondary);

}


@media (max-width: 768px) {
    .main-card {
        flex-direction: column;
        width: 90%;
    }

    .card-image-container,
    .card-content {
        width: 100%;
    }

    .card-content {
        margin-top: 20px;
    }

    .blue-bar {
        width: 80%;
    }
}